.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #A2A2A2;
    width: 100%;
    height: 50px;
    background-color: #F5F8FA;
    border-radius: 8px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 20px;
    right: 10px;
    border: solid #222222;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.select-styled:active, .select-styled.active {
    background-color: #F5F8FA ;
    color: #222222;
}

.select-styled:active:after, .select-styled.active:after {
    top: 22px;
    border-width: 2px 0px 0px 2px;
}

.select-options {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #FFFFFF ;
    box-shadow: 0px 3px 8px #00000026;
    border-radius: 8px;
}

.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #FFFFFF ;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #000000;
}

.select-options li:hover {
    color: #222222;
    background: #F5F8FA ;
}

.select-options li[rel="hide"] {
    display: none;
}